<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="balance.js"></script>
<body>
</BR>
 <input type="hidden" name ="5555" value="" />
<CENTER><label> <H1>Hello </H1></label></CENTER></BR>
<CENTER><label> <H1>your balance :$ {{amount}} </H1></label></CENTER></BR>
<CENTER><div  ng-app="transferAPP" ng-controller="transferController">
 	
	<label> Transfer Amount : <input type="text" placeholder="$ amount" ng-model="deductAmount" /></label></BR></BR>
	<button ng-click="transferAmount()">Transfer</button>
</div>
</CENTER>
</body>
</html>