<!DOCTYPE html>
<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="login.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="mHeader">
				<h1>Block Chain Application</h1>
			</div>
			<div class="mBody">
				<div class="loginHeader">
					<h1>Login</h1>
				</div>
				<div class="loginBody" ng-app="loginAPP" ng-controller="loginController">
					<div class="loginCred">
						<div>
							<label> ChainCode Id :</label>
							<input type="text" class="mL10" placeholder="chaincodeId" ng-model="chaincodeId" />
						</div>
						<div class="mT20">
							<label> User Name : </label>
							<input type="text" class="mL25" placeholder="Username" ng-model="accountId" />
						</div>
						<div class="mT20">
							<label> Password : </label>
							<input type="password" class="mL35" placeholder="Password" ng-model="password" />
						</div>
						<div class="mT20 textCenter">
							<button ng-click="authenticate()">Login</button>
						</div>
					</div>
				</div>
			</div>
			<div class="mFooter">
				
			</div>
		</div>
	</body>
</html>
