<!DOCTYPE html>
<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css"/><script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="sendMoney.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="mBody">
				<div class="loginBody">
					<div ng-app="sendMoneyAPP" ng-controller="sendMoneyController">
						<input type="hidden"  ng-model="senderAccountId" value="{{accountId}}" />
						<input type="hidden"  ng-model="chaincodeId" value="{{chaincodeId}}" />
						<div class="mT20">
							<label>Recipient Account ID:</label>
							<input type="text" ng-model="recipientAccountId" value="">
						</div>
						<div class="mT20">
							<label>Recipient Name:</label>
							<input class="mL33" type="text" ng-model="accountName" value="">
						</div>
						<div class="mT20">
							<label>Transfer Amount:</label>
							<input class="mL25" type="text" ng-model="transferAmt" value="">
						</div>
						<button ng-click="sendAmount()" class="mT20">Send Amount</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>