<!DOCTYPE html>
<html>
	<head>
		<link href="style.css" rel="stylesheet" type="text/css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="showAccountDetails.js"></script>
	<head>
	<body>
		<div class="container">
			<div class="mBody">
				<div class="loginBody">
					<div ng-app="showAccountDetailsApp" ng-controller="showAccountDetailsController"><label>Account Balance: {{balance}}</label>
					<div class="mT20">
						<input type="hidden"  ng-model="accountId" value="{{accountId}}" />
						<input type="hidden"  ng-model="chaincodeId" value="{{chaincodeId}}" />
						<button ng-click="transferMoney()">Transfer Money</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>