<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="showAccountDetails.js"></script>
<head>
<div ng-app="showAccountDetailsApp" ng-controller="showAccountDetailsController">
 Account Balance: {{balance}}
</BR>
   <input type="hidden"  ng-model="accountId" value="{{accountId}}" />
   <input type="hidden"  ng-model="chaincodeId" value="{{chaincodeId}}" />
	<button ng-click="transferMoney()">Transfer Money</button>
<br>


</div>
<s
</head>
</html>